<!DOCTYPE html>
<html>
<head>
    @using Bilguiden.dk.Models
    @Styles.Render("~/Content/css")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilguiden - @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Images/logobilnav.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/Content/BilguidenStyle.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="menu-icon">
            <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
            <a href="~/Home/Biler"><img style="width: 50px; height: auto;" src="~/Images/logobilnav.png" alt="logo" class="logo" /> Bilguiden</a>
        </div>

        <div class="navknapper">
            <div class="search-icon">
                <span class="fas fa-search"></span>
            </div>
            <div class="cancel-icon">
                <span class="fas fa-times"></span>
            </div>
            <form>
                @using (Html.BeginForm("test", "Home", FormMethod.Get)) {
                    @Html.DropDownList("option", new SelectList(Enum.GetValues(typeof(Dropdown))), "Vælg enhed")
                    @Html.TextBox("search", null, new { @placeholder = "Søg på bil", @class = "search-data" })
                    <button type="submit" value="Search" name="submit" class="fas fa-search"></button>
                }
            </form>

            <a href="~/Account/Login"><img style="width: 40px; height: auto;" src="~/Images/Bruger.png" class="bruger" /></a>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <!--footer-->
    <div class="footer">
        <div class="indhold">
            <div class="footer-content">
                <div class="footer-section about">
                    <h4>Hvad kan vi?</h4>
                    <p><b>Samligning af biler</b></p>
                    <p>Informationer</p>
                    <p>Tilføj</p>
                    <p>Rediger</p>
                </div>

                <div class="footer-section Links">
                    <a href="~/Home/About"><h4>Om os</h4></a>
                    <a href="https://www.facebook.com/Larkegaard"><p class="referencer">Facebook</p></a>
                    <a href="https://www.instagram.com/laerkegaarddk/"><p class="referencer">Instagram</p></a>
                </div>

                <div class="footer-section contact-form">
                    <a href="~/Home/Contact"><h4>Kontaktinformation</h4></a>
                    <p><b>Bilguiden</b></p>
                    <p>Bindslev plads</p>
                    <p>8600 Silkeborg</p>
                    <p>Telefon: 23 22 02 09</p>
                    <p>E-mail: bilguiden@support.dk</p>
                    <p>Persondatapolitik</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">&copy; Bilguiden.dk | @DateTime.Now.Year | Designet af Patrik & Asger</div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>