@model Bilguiden.dk.Models.Biler

@{
    ViewBag.Title = "Bildetaljer";
}
<div class="indhold">
    <div class="bilbillede">
        @{
            if (Model.Billede != null) {
                byte[] billede = Model.Billede;
                var base64 = Convert.ToBase64String(billede);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgsrc" class="pbilleded" />
            }
            else {
                <img src="~/Images/Billede-mangler.jpg" class="pbilleded" />
            }
        }

    </div>

    <div class="bilbillede">
        <h2 class="Overskrift">@Html.DisplayFor(model => model.Mærke) </h2><h4 class="Overskrift">@Html.DisplayFor(model => model.Model)</h4>
        <p>Dette er en beskrivelse af bilen, den har super gode køreenskaber. Bilen er udstyret med 5 døre. Lækkert udstyr så som LED forlygter, elsæder og meget mere</p>
    </div>
    <hr />

    <h3 style="text-align: center;">Specifikationer</h3>

    <dl class="dl-horizontal">
        <table>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Årgang)</td>
                <td>@Html.DisplayFor(model => model.Årgang)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Nypris)</td>
                <td>@Html.DisplayFor(model => model.Nypris)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Gearkasse)</td>
                <td>@Html.DisplayFor(model => model.Gearkasse)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Træk)</td>
                <td>@Html.DisplayFor(model => model.Træk)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Lastevne)</td>
                <td>@Html.DisplayFor(model => model.Lastevne)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Vægt)</td>
                <td>@Html.DisplayFor(model => model.Vægt)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Acceleration)</td>
                <td>@Html.DisplayFor(model => model.Acceleration)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Hestekræfter)</td>
                <td>@Html.DisplayFor(model => model.Hestekræfter)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Newtonmeter)</td>
                <td>@Html.DisplayFor(model => model.Newtonmeter)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Motor)</td>
                <td>@Html.DisplayFor(model => model.Motor)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Drivmiddel)</td>
                <td>@Html.DisplayFor(model => model.Drivmiddel)</td>
            </tr>
            <tr>
                <td class="tbkat">@Html.DisplayNameFor(model => model.Kubik)</td>
                <td>@Html.DisplayFor(model => model.Kubik)</td>
            </tr>
        </table>
    </dl>

    <div class="knapper">
        @Html.ActionLink("Tilbage", "Biler", "home", htmlAttributes: new { @class = "bn3637 bn36" })
        @Html.ActionLink("Rediger", "RedigerBil", new { id = Model.Bil_ID }, htmlAttributes: new { @class = "bn3637 bn36" })
    </div>
</div>

<style>
    .Overskrift {
        color: black;
        display: inline;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .grå {
        background-color: lightgray;
    }

    .pbilleded {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .bilbillede {
        display: inline-block;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border-radius: 15px;
        width: 48%;
        background-color: #fff;
        border: 2px solid black;
        vertical-align: top;
        height: 18em;
        /*
        width: 300px;
        height: 100px;
        box-sizing: border-box;
          */
    }

    .bilbeskrivelse {
        display: inline-block;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border-radius: 15px;
        width: 48%;
        background-color: #fff;
        border: 2px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
    }

    td, th {
        text-align: left;
        border-left: 1px solid #dddddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #dddd;
    }

    .tbkat{
        font-weight: bold;
        width: 30%;
        border: none;
    }
</style>
