@model IEnumerable<Bilguiden.dk.Models.Biler>
@{
    ViewBag.Title = "Biler";
    <script src="~/Scripts/Script/Funktioner.js"></script>
    List<int> cars = new List<int>();
}

<!--For hver item/bil i databasen laver den dette-->
@foreach (var item in Model) {
    <div class="pprodukter">

        <!--Billede af bil-->
        <div>
            @{
                if (item.Billede != null) {
                    var base64 = Convert.ToBase64String(item.Billede);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgsrc" class="pbillede" />
                }
                else {
                    <img src="~/Images/Billede-mangler.jpg" class="pbillede" />
                }
            }
        </div>

        <!--Bil model-->
        <div style="text-align: center;">
            <h2 class="overskrift">@item.Mærke </h2> <h4 class="overskrift">@item.Model</h4>
        </div>

        <!--Bil årgang-->
        <div style="text-align: center">
            <p>@item.Årgang</p>
        </div>

        <!--Knapper-->
        <div>
            @*<button onclick="GetBil_ID(@item.Bil_ID)" class="bn3637 bn36 knap" id="ID">Sammenlign</button>*@
            <button onclick="@{cars.Add(item.Bil_ID); Console.WriteLine(cars);}" class="bn3637 bn36 knap">Sammenlign</button>
            @*@Html.ActionLink("Sammenlign","SendData", "home", new { Bil_ID = item.Bil_ID }, htmlAttributes: new { @class = "bn3637 bn36" })*@
            @Html.ActionLink("Detaljer", "Bildetaljer", new { Bil_ID = item.Bil_ID }, htmlAttributes: new { @class = "bn3637 bn36" })
        </div>
    </div>
}
@{int[] carArray = cars.ToArray();
    Console.WriteLine(carArray);}
<br />
@Html.ActionLink("Tilføj Bil", "TilføjBil", "home", htmlAttributes: new { @class = "bn3637 bn36" })
@*@Html.ActionLink("Sammenlign", "Sammenlign", "home", htmlAttributes: new { @class = "bn3637 bn36", @onclick = "SendData()"})*@
@Html.ActionLink("Sammenlign", "Sammenlign", new { carArray }, htmlAttributes: new { @class = "bn3637 bn36" })
@*<input type="button" value="Sammenlign" onclick="SendData()" class="bn3637 bn36 knap" />*@
<button onclick="FjernBil_ID()" class="bn3637 bn36 knap">Fjern sammenligning</button>

<style>

    .pprodukter {
        display: inline-block;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border-radius: 15px;
        width: 32%;
        background-color: #fff;
        border: 2px solid black
    }

    /*Style på billede af bil*/
    .pbillede {
        width: 95%;
        height: 15em;
        border-radius: 10px;
    }

    .overskrift {
        color: #072f38;
        display: inline;
    }
</style>
